.lw-login-register-page {
    .lw-other-page-content {
        margin-top: 200px;
        // height: 100vh;
        // color: #000;
        // overflow: auto;

        .lw-page-description {
            white-space: pre-line;
            padding: 10px 0 50px 0;
        }
    }

    #wrapper #content-wrapper {
        background-color: #f8f9fc;
    }

    .lw-page-bg {
        // background-image: url("./../../imgs/home/grass-2563424_1920.jpg") no-repeat center center;
        background-size: cover;
        background-position: center center;
        background-color: #1c1b20;
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        // filter: blur(4px) grayscale(0.4);
        background-position: center center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
    }

    .lw-other-page-nav {
        border-bottom-right-radius: 0;
        img {
            max-height: 60px;
        }
    }

    .form-group .form-control,
    .lw-user-gender-select-box {
        // color: #2f2f2f;
        // background-color: #f5f5f5 !important;
        padding-left: 10px;
        // display: block !important;
    }
    // .lw-location-color{
    //     color: #302f35 !important;
    // }

    .form-group .selectize-control.form-control {
        background-color: #121117 !important;
        padding-left: 8px;
        color: #9596a0;
        border-radius: 4px;

        &.single .selectize-input:after {
            margin-top: 2px;
        }

        .selectize-dropdown {
            padding-left: 0px;
        }
    }

    .lw-logo-img {
        height: 80px;
    }

    .card,
    .lw-update-wizard {
        backdrop-filter: blur(6px) grayscale(0.5);
        background-color: rgba(18, 17, 23, 0.7);
    }
    @media (min-width: 767px) {
       .card {
            height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            border-radius: 0;
            z-index: 1;
            overflow: auto!important;
            .card-body {
                display: grid;
                align-items: center;
            }
       }
    }

    @media (max-width: 768px) {

        .lw-logo-img-on-bg {
            display: none;
        }

        .card .card-body {
            // padding: 30px 16px!important;
            padding: 0 !important;

            .p-5 {
                // padding: 0!important;
            }
        }
    }

    .sticky-footer {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    form.user {
        .form-control-user {
            // background: #f0f8ff;
        }

        .custom-checkbox.small label {
            line-height: 1.1rem;
        }
    }

    .lw-update-wizard {
        padding: 20px;
        margin-top: 5vh;
        margin-bottom: 5vh;

        .lw-wizard-logout-btn {
            position: absolute;
    right: 10px;
    top: -10px;
        }

        .lw-logo-img {
            height: 250px;
            max-width: 300px;
        }
        

        &.sw-theme-dots {
            > ul.step-anchor,
            .step-content,
            .sw-toolbar {
                background: transparent;
            }

            > ul.step-anchor:before {
                top: 83px;
            }

            > ul.step-anchor {
                > li {
                    > a {
                        color: #969696;
                        pointer-events: none;
                        // cursor: not-allowed;
                        font-weight: 400;

                        &:after {
                            margin-top: 24px;
                        }
                    }

                    &.active > a {
                        color: #d2019b;
                        background: transparent;

                        &:before {
                            color: #d2019a;
                        }

                        &:after {
                            background: #d2019a;
                        }
                    }
                }
            }
        }
    }
    .lw-logo-img-on-bg {
        position: fixed;
        bottom: 180px;
        z-index: 1;
        width: 25%;
        left: 50px;
    }
}
